<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="header"><%= @year.year %></div>
  <div class="container">
    <% @year.months.each do |month| %>
    <div class="month">
      <div class="month-name"><%= month.name %></div>
      <div class="week-header"></div>
      <div class="week"></div>
    </div>
    <% end %>
  </div>
  <div class="header"></div>
  <ul>
    <li></li>
  </ul>
</body>
</html>